# **Day-2 Practical**

In [1]:
print("Python is easy ")

Python is easy

#**LISTS IN PYTHON**

In [14]:
#Creating a list called 'fruits'
fruits = ["apple", "banana", "mango", "Litchi", "straberry"]

#Print the list
# print(fruits)

# print(fruits[0]) #printing first element from the list
# print(fruits[4])
# print(fruits[-1])

#Adding and removing elements
# fruits.append("jackfruit")
# print(fruits)

# fruits.remove("Litchi")    #Removing element
# print(fruits)

#Slicing the list
print(fruits[1:4])
# print(fruits[starting index : final index-1])

['banana', 'mango', 'Litchi']

#TUPLES AND SETS(HOME-RESEARCH)

#DICTIONARIES IN PYTHON

In [21]:
#Creating a dictionary
student = {
    "name" : "Ramu",
    "age"  : 13,
    "class" : 8
}
# print(student)

#Accessing value of a particluar key in a dictionary
# print(student["age"])

# #updating value of a particular key in a dictionary
student["class"] = 9
# print(student)

#Adding a new key-value pair to existing dictionary
student["address"] = "Pokhara"
print(student)

#Deleting a key value
del student["age"]
print(student)

{'name': 'Ramu', 'age': 13, 'class': 9, 'address': 'Pokhara'}
{'name': 'Ramu', 'class': 9, 'address': 'Pokhara'}

#String Manipulation

In [34]:
#Creating a variable names "text" with leading and trailing spaces
# text = "  Hello Python  "
# print(text)

# print(text.lower()) #Using .lower() function to convert original text into lowercase
# print(text)
# print(text.upper())
# print(text)

# print(text.strip())  #using .strip() function to remove leading and trailing spaces
# print(text)


# print(text.replace("Python","Java")) #using .replace() function to replace
# print(text)

#Split
# splitted = text.strip().split()   #Function chaining or method chaining
# print(splitted)

# #Joining the splitted list with a hyphen(-)
# joined = "-".join(splitted)
# print(joined)

text = "python"
print(text[0].upper())

P

#Modular Programming

In [40]:
#importing math module
import math

square_root = math.sqrt(25)
print("Square root of 25 is", square_root)

ceiling = math.ceil(3.2)
print("Ceiling of 3.2 is", ceiling)

floor = math.floor(3.2)
print("Floor of 3.2 is", floor)
# print("Square root of 36 is", math.sqrt(36))

Square root of 25 is 5.0
Ceiling of 3.2 is 4
Floor of 3.2 is 3

#MODULE ALIASING

In [42]:
# import matplotlib.pyplot as plt
# plt.plot([1,2,3],[4,5,6])

#VARIABLE ALIASING

In [43]:
a = [1,2,3]
b = a
b.append(4)
print(a)
print(b)


#HOMEWOR : EXPERIMENT WITH FUNCTION ALIASING

[1, 2, 3, 4]
[1, 2, 3, 4]

#RANDOMS IN PYTHON

In [54]:
import random as rdm   #importing random modules and aliasing as rd
# print(rdm.randint(1,10))


# random_float = rdm.random()
# print(random_float)


random_float_in_range = rdm.uniform(15.0,30.0)
print(random_float_in_range)

#HOMEWORK : EXPLORE MORE MODULES AND ITS FUNCTIONS/METHODS

17.670236461212497

#CREATING CUSTOM MODULES IN PYTHON

In [56]:
# %%writefile is used here to make this cell as a completely new .py file(No need to do if you are using VS Code)
%%writefile helper.py
#helper.py
def add_numbers(a,b) :
  return a+b

# print(add_numbers(3,4))

Writing helper.py

In [59]:
# %%writefile main.py
#main.py
import helper
result = helper.add_numbers(4,7)
print("The sum is:", result)

The sum is: 11