In [ ]:
import pandas as pd

# Read the table from HTML
df_list = pd.read_html("age_data.html")
df = df_list[0]  # First table

# Function to determine age group
def age_group(age):
    if age <= 0:
        return "Invalid"
    elif age < 10:
        return "Child"
    elif age < 18:
        return "Teenager"
    elif age <= 59:
        return "Adult"
    else:
        return "Senior Citizen"

# Add age group to DataFrame
df["Age Group"] = df["Age"].apply(age_group)

# Print result
print(df)

     Name  Age       Age Group
0   Arpan    8           Child
1  Rupesh   17        Teenager
2  Sabina   25           Adult
3    Dipa   64  Senior Citizen